{
  "presets": ["react-native"],
  "plugins": [
    ["import", { "libraryName": "antd-mobile-rn" }],
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "js": "./js"
      }
    }]
  ]
}